.kitchen/
.kitchen.local.yml
coverage/
.idea/
.vscode/
*.swp
*.swo
.bundle/
vendor/
.docker/
.vagrant/
Gemfile.lock
Policyfile.lock.json
.rspec_status
tmp/
.env
.DS_Store
node_modules/
.chef/
*.gem
*.rbc