.kitchen/
.kitchen.local.yml
coverage/
.idea/
# VS Code settings are project-specific, so we don't ignore .vscode/
*.lock
*.swp
*.swo
.bundle/
vendor/
.docker/
.vagrant/
Gemfile.lock
.rspec_status
tmp/
.env
.DS_Store
node_modules/
.devcontainer/Gemfile.lock